<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Penilaian Kinerja Karyawan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="icon" href="/assets/logo penilaian kinerja.png" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/home">
          <img src="/assets/logo penilaian kinerja.png" width="30" height="30" class="bi pe-none me-2 rounded-circle" />
          <span>PT Pengawasan</span>
        </a>
        <button class="btn btn-outline-light" id="sidebarToggle">☰</button>
      </div>
    </nav>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <ul class="nav flex-column p-3 mt-5">
        <li class="nav-item">
          <a class="nav-link" href="/kriteria">
            <img src="/assets/bag-svgrepo-com.svg" width="16" height="16" class="me-2" style="vertical-align: baseline" />
            Kriteria
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/karyawan">
            <img src="/assets/karyawan.png" width="16" height="16" class="me-2" />
            Data Karyawan
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/penilaian">
            <img src="/assets/check-list.png" width="16" height="16" class="me-2" />
            Penilaian Kinerja
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ranking">
            <img src="/assets/ranking.png" width="16" height="16" class="me-2" />
            Ranking Karyawan
          </a>
        </li>
        <hr />
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <img src="/assets/logout-svgrepo-com.svg" width="16" height="16" class="me-2" />
            Logout
          </a>
        </li>
      </ul>
    </div>